<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="endjinComposition" type="Endjin.Specs.Container.Configuration.CompositionConfigurationSection, Endjin.Specs" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Endjin.Specflow.Bindings" />
    </stepAssemblies>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>